@use "../variables/colors" as colors;
@use "../variables/fonts" as fonts;

.footer {
    color: colors.$color--primary;
    font-family: fonts.$font--secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 55px 50px;
    margin: 0 200px;
    flex-wrap: wrap;
    
    .navigation-bar {
        flex-basis: 70%;

        .navigation-item:first-child {
            margin-left: 0;
        }
    }

    &__social-media__group {
        flex-basis: 30%;
        display: flex;
        justify-content: end;
        .footer__social-media__item {
            color: colors.$color--primary;
            text-decoration: none;
            font-size: 2rem;
            margin: 0 20px;
            transition: all .2s ease-in;

            &:hover {
                color: colors.$color--orange;
            }
        }
    }

    &__credit {
        font-family: fonts.$font--secondary;
        font-weight: 700;
        font-size: .8rem;
        opacity: .7;
        
    }
}