@use "../variables/colors" as colors;
@use "../variables/fonts" as fonts;

.header {
    color: colors.$font-color--primary;
    font-family: fonts.$font--secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 55px 50px;
  }
  
  .header__brand-name {
    font-weight: 900;
    font-size: 3rem;
    padding: 0 40px;
  }
  
  .header__navigation-bar {
    display: flex;
    justify-content: space-evenly;
  }
  
  .header__navigation-item {
    text-decoration: none;
    margin: 0 10px;
    color: colors.$font-color--primary !important;
    font-weight: 700;
    position: relative;
  }
  
  .header__navigation-item:hover {
    cursor: pointer;
  }
  
  .header__navigation-item:focus.header__navigation-item::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color:colors.$color--orange;
    position: absolute;
    border-radius: 50%;
  }
  
  .header__navigation-item:hover.header__navigation-item::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color:colors.$font-color--primary;
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
  }
  
  .header__navigation-item:last-child:hover.header__navigation-item:last-child::after,
  .header__navigation-item:last-child:focus.header__navigation-item:last-child::after {
    display: none;
  }