@use "../variables/colors" as colors;
@use "../variables/fonts" as fonts;

@use "../mixins/icons" as icons;

.header {
    color: colors.$color--primary;
    font-family: fonts.$font--secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 55px 50px;
    
    &__brand-name {
      font-weight: 900;
      font-size: 3rem;
      padding: 0 40px;
    }
  }
  
