@use "./landing-page/pinned-board";
@use "./landing-page/case-study";

@use "../variables/colors" as colors;
@use "../mixins/card-elements";

.card__badget {
    @include card-elements.card-badget(colors.$color--secondary, colors.$color--primary)
}
  
.card__description {
color: white;
z-index: 1;
margin-top: 40px;

&--author {
    @include card-elements.description--author(1rem, 10px 0)
}

&--title {
    @include card-elements.description--title(1.5rem, 0, 2rem)
}
}