@use "../../variables/colors" as colors;
@use "../../variables/fonts" as fonts;
@use "../../mixins/icons" as icons;
@use "../../mixins/animations" as animations;
@use "../../mixins/card-elements";

@import url("font-awesome/css/fontawesome-all.min.css");

.landing-page__case-study {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 160px;
    
    &__card {
        max-height: 450px;
        max-width: 1200px;
        padding: 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
        margin: 20px 0;
        background-blend-mode: overlay;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100%;
        transition: all .5s ease-in;
        border-radius: 20px;

        &:hover {
           background-size: 110%;
        }

        .card__badget__group {
            display: flex;
            margin: 20px 0;

            .card__badget {
                margin-right: 10px;
                @include card-elements.card-badget(colors.$color--primary, transparent);
                
                &:hover {
                    @include card-elements.card-badget(colors.$color--secondary, colors.$color--primary);
                }
            }
        }

        .card__description--title {
            @include card-elements.description--title(4rem, 30px 0, 5rem);
            color: colors.$color--primary;
            transition: .3s linear;

            &::after {
                @include icons.arrow(3rem)
            }

            &:hover.card__description--title::after {
                @include animations.arrowOffset(20px)
            }
        }

        .card__description--content {
            @include card-elements.description--content(1.5rem, colors.$color--secondary);
            margin: 30px 0;

            &::before {
                @include card-elements.divider(1px, colors.$color--secondary)
            }
        }

        .card__description--author {
            @include card-elements.description--author(1rem, 30px 0, colors.$color--primary);
        }

        &:nth-child(2), &:nth-child(4)  {
            .card__badget {
                @include card-elements.card-badget(colors.$color--secondary, transparent);

                &:hover {
                    @include card-elements.card-badget(colors.$color--amber, colors.$color--secondary);
                    border: none;
                }
            }

            .card__description--title,  .card__description--content,  .card__description--author {
                color: colors.$color--secondary !important;
            }

            .card__overlay {
                &::before {
                    @include card-elements.overlay--before(colors.$color--amber)
                }
            }
        }
    }

    #large-card--1 {
        background-image: url("/src/assets/images/living-room--3d.jpg"), linear-gradient(rgba(colors.$color--secondary, .6), rgba(colors.$color--secondary, .6));
    }
    #large-card--2 {
        background-image: url("/src/assets/images/minimal-room.jpg"), linear-gradient(rgba(colors.$color--amber, .6), rgba(colors.$color--amber, .6));
    }
    #large-card--3 {
        background-image: url("/src/assets/images/studio.jpg"), linear-gradient(rgba(colors.$color--secondary, .6), rgba(colors.$color--secondary, .6));
    }
}

.landing-page__case-study__group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    align-items: center;
    justify-content: center;
 
    .landing-page__case-study__card {
     flex-basis: 10%;
     padding: 40px;
     height: 370px;
     justify-content: flex-start;
     flex-basis: calc((33% - 130px) );
     margin-top: 0;
     background-size: 150%;

     &:hover {
        background-size: 160%;
     }
 
     .card__description--title {   
        @include card-elements.description--title(2.5rem, 5px 0, 3.5rem);

        &::after {
            @include icons.arrow(1.7rem)
        }

        &:hover.card__description--title::after {
            @include animations.arrowOffset(10px)
        }

     }

     .card__description--content {
        @include card-elements.description--content(1rem, colors.$color--primary);
        font-weight: 600;
        margin: 5px 0;
     }

     .card__description--author {
        margin: 5px 0;
     }
    }

    #small-card--1, #small-card--2 {
        flex-basis: calc(50% - 150px);
        margin-bottom: 0;
    }

    #small-card--3,  #small-card--4,  #small-card--5 {
        .card__description--title {
            @include card-elements.description--title(2rem, 20px 0, 3rem);
        }
    }

    #small-card--1 {
        background-image: url("/src/assets/images/studio.jpg"), linear-gradient(rgba(colors.$color--secondary, .6), rgba(colors.$color--secondary, .6));    
    }
    #small-card--2 {
        background-image: url("/src/assets/images/sofa.jpg"), linear-gradient(rgba(colors.$color--orange, .6), rgba(colors.$color--orange, .6));
    }
    #small-card--3 {
        background-image: url("/src/assets/images/kitchen.jpg"), linear-gradient(rgba(colors.$color--secondary, .6), rgba(colors.$color--secondary, .6));
    }
    #small-card--4 {
        background-image: url("/src/assets/images/kid.jpg"), linear-gradient(rgba(colors.$color--cerise, .6), rgba(colors.$color--cerise, .6));
    }
    #small-card--5 {
        background-image: url("/src/assets/images/studio.jpg"), linear-gradient(rgba(colors.$color--secondary, .6), rgba(colors.$color--secondary, .6));
    }
 }