@use "../../variables/colors" as colors;
@use "../../variables/fonts" as fonts;
@use "../../mixins/icons" as icons;
@use "../../mixins/animations" as animations;
@use "../../mixins/card-elements";

@import url("font-awesome/css/fontawesome-all.min.css");

.landing-page__case-study {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 160px;
    
    &__card {
        padding: 100px;
        max-height: 450px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
        max-width: 1200px;
        margin: 20px 0;

        &:hover {
            .card__overlay__image {
                transition: transform .3s ease-in;
                transform: translateZ(0) scale(1.05);
                z-index: -999;
            }
        }
       
        .card__overlay {
            @include card-elements.overlay(colors.$color--secondary);

            .card__overlay__image {
                width: 100%;
                height: 100%;
                position: relative;
            }
        }

        .card__badget__group {
            display: flex;
            margin: 20px 0;

            .card__badget {
                margin-right: 10px;
                @include card-elements.card-badget(colors.$color--primary, transparent);
                
                &:hover {
                    @include card-elements.card-badget(colors.$color--secondary, colors.$color--primary);
                }
            }
        }

        .card__description--title {
            @include card-elements.description--title(4rem, 30px 0, 5rem);
            color: colors.$color--primary;
            transition: .3s linear;

            &::after {
                @include icons.arrow(3rem)
            }

            &:hover.card__description--title::after {
                @include animations.arrowOffset(20px)
            }
        }

        .card__description--content {
            @include card-elements.description--content(1.5rem, colors.$color--secondary);
            margin: 30px 0;

            &::before {
                @include card-elements.divider(1px, colors.$color--secondary)
            }
        }

        .card__description--author {
            @include card-elements.description--author(1rem, 30px 0, colors.$color--primary);
        }

        &:nth-child(2), &:nth-child(4)  {
            .card__badget {
                @include card-elements.card-badget(colors.$color--secondary, transparent);

                &:hover {
                    @include card-elements.card-badget(colors.$color--amber, colors.$color--secondary);
                    border: none;
                }
            }

            .card__description--title,  .card__description--content,  .card__description--author {
                color: colors.$color--secondary !important;
            }

            .card__overlay {
                &::before {
                    @include card-elements.overlay--before(colors.$color--amber)
                }
            }
        }
    }
}

.landing-page__case-study__group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    align-items: center;
    justify-content: center;
 
    .landing-page__case-study__card {
     flex-basis: 10%;
     padding: 40px;
     height: 470px;
     justify-content: flex-start;
     flex-basis: calc((33% - 130px) );
     margin-top: 0;
 
     
     &:nth-child(1),  &:nth-child(2) {
         flex-basis: calc(50% - 150px);
         margin-bottom: 0;
     }

     &:nth-child(1) {
        .card__overlay {
            &::before {
                @include card-elements.overlay--before(colors.$color--eggplant)
            }
        }
     }

     &:nth-child(2) {
        .card__overlay {
            &::before {
                @include card-elements.overlay--before(colors.$color--orange)
            }
        }
     }

     &:nth-child(4) {
        .card__overlay {
            &::before {
                @include card-elements.overlay--before(colors.$color--cerise)
            }
        }
     }

    &:nth-child(3), &:nth-child(4), &:nth-child(5) {

        .card__description--title {
            @include card-elements.description--title(2rem, 20px 0, 3rem);
        }

    }
 
     .card__description--title {   
        @include card-elements.description--title(2.5rem, 20px 0, 3.5rem);

        &::after {
            @include icons.arrow(1.7rem)
        }

        &:hover.card__description--title::after {
            @include animations.arrowOffset(10px)
        }

     }

     .card__description--content {
        @include card-elements.description--content(1rem, colors.$color--primary);
        font-weight: 600;
        margin: 20px 0;
     }
    }
 }