@use "../variables/fonts" as fonts;
@use "../variables/colors" as colors;

@mixin card-badget($color--primary,$background-color) {
    font-family:fonts.$font--secondary;
    font-size: 0.7rem;
    font-weight: 900;
    letter-spacing: 2px;
    background-color: $background-color;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    z-index: 111110;
    color: $color--primary;
    border: 1px solid $color--primary;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1440px) {
        font-size: 0.5rem;
    }
}

@mixin description--author($font-size, $margin, $color) {
    font-family: fonts.$font--secondary;
    font-size: $font-size;
    font-weight: 700;
    margin: $margin;
    z-index: 1;
    color: $color;
}

@mixin description--content($font-size, $color) {
    font-family: fonts.$font--secondary;
    font-size: $font-size;
    z-index: 1;
    color: $color;
    font-weight: 700;
    position: relative;
    padding-top: 5px;
}

@mixin description--title($font-size, $line-height) {
    font-family:fonts.$font--primary;
    line-height: $line-height;
    font-size: $font-size;
    margin: 20px 0;
    z-index: 1;
    color: colors.$color--primary;
}

@mixin divider($height, $color) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3%;
    border: $height solid $color;
}
