@use "../variables/fonts" as fonts;
@use "../variables/colors" as colors;

@mixin card-badget($color--primary,$background-color) {
    font-family:fonts.$font--secondary;
    font-size: 0.7rem;
    font-weight: 900;
    letter-spacing: 2px;
    background-color: $background-color;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    z-index: 111110;
    color: $color--primary;
    border: 1px solid $color--primary;
    transition: all .3s ease-in-out;
}

@mixin description--author($font-size, $margin, $color) {
    font-family: fonts.$font--secondary;
    font-size: $font-size;
    font-weight: 700;
    margin: $margin;
    z-index: 1;
    color: $color;
}

@mixin description--title($font-size, $margin, $line-height) {
    font-family:fonts.$font--primary;
    line-height: $line-height;
    font-size: $font-size;
    margin: 30px 0;
    z-index: 1;
    color: colors.$color--primary;
}

@mixin overlay($background-color) {
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background-color: $background-color;
    display: block;
    overflow: hidden;
}

@mixin overlay--before($color) {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $color;
    opacity: .7;
    z-index: 11111;
    position: absolute;
}

@mixin divider($height, $color) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3%;
    border: $height solid $color;
}

@mixin description--content($font-size, $color) {
    font-family: fonts.$font--secondary;
    font-size: $font-size;
    z-index: 1;
    color: $color;
    font-weight: 700;
    position: relative;
    padding-top: 20px;
}